/* Stylesheet for bigger screens*/
body{
	background: url("../Images/background.jpg") no-repeat center center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	max-height: 100%;
	position: absolute;
	padding-bottom: 1em;
	top: 25%;
}

.section {
	width: 100%;
	max-height: 100%;
	padding-bottom: 1em;
	position: absolute;
	top: 43%;
	line-height: 1.35em;
}

.footer {
	width: 100%;
	max-height: 100%;
	position: absolute;
	top: 92%;
}

.links {
	width: 100%;
	max-height: 100%;
	padding-bottom: 1em;
	position: absolute;
	top: 70%;
}

h1 {
	text-align: center;
	font-family: Arial;
	color: #dfe4ea;
}

p {
	text-align: center;
	font-family: Arial;
	color: #dfe4ea;
}
nav {
	text-align: center;
	font-family: Arial;
}

ul {
	display: inline;
}

a{
	text-decoration : none;
	color: #dfe4ea;
	display: inline-block;
}

a:hover {
	cursor: pointer;
}

a:visited {
	text-decoration: none;
}