html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.2;
}

/* Utility */

.hide-on-small {
  display: none;
}

.l-header {
  font-size: 2.5rem;
}

/* Navbar */

#navbar {
  display: grid;
  grid-template-columns: 1fr;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  z-index: 1;
  /* position: fixed; */
  height: 60px;
}

#navbar h1.logo {
  padding-left: 0.5rem;
  margin-top: 0.2rem;
  justify-self: center;
  align-self: center;
  font-size: 1.3rem;
}

#navbar ul li a:hover {
  background: var(--overlay-color);
  color: #ffffff;
  border-radius: 0px;
}

#navbar #toggler {
  display: inline-block;
  position: absolute;
  top: 21px;
  right: 14px;
  width: 1.3rem;
  height: 1.3rem;
  opacity: 0;
}

#navbar #toggler:checked ~ ul li a {
  background: rgba(0, 0, 0, 0.6);
  visibility: visible;
  opacity: 1;
}

#navbar .menu {
  display: inline-block;
  font-size: 1.3rem;
  position: absolute;
  top: 21px;
  right: 16px;
}

#navbar ul {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  padding: 0;
  margin-top: 1rem;
}

#navbar ul li {
  display: block;
  height: auto;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

#navbar ul li a {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  height: 50px;
  /* width: 370px; */
  overflow-y: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#navbar li.fade {
  opacity: 0;
}

/* Showcase */

#showcase {
  background: url("../img/mbg.jpg") center center/cover;
  text-align: center;
  position: relative;
}

#showcase .showcase-header {
  font-size: 2.3rem;
}

#showcase:before {
  content: "";
}

/* Gallery */

#gallery .image-gallery {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-count: 1;
  width: 85%;
}

.btn:hover {
  color: #fff;
  background: var(--navbar-color);
}

@media (min-width: 400px) {
  #navbar ul li a {
    width: 100vw;
  }
}

@media (min-width: 600px) {
  #navbar ul li a {
    width: 100vw;
    height: 60px;
  }

  #contact .form-wrap .form-group textarea {
    height: 10vh;
  }
}
