body {
  line-height: 1.2;
}

.hide-on-small {
  display: none;
}

.l-header {
  font-size: 2.5rem;
}

#navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: row; */
  align-items: stretch;
  justify-content: start;
  z-index: 1;
  height: 50px;
}

#navbar h1.logo {
  padding-left: 0.5rem;
  justify-self: center;
  align-self: center;
}

#navbar .menu {
  justify-self: end;
  align-self: center;
}

#navbar li a {
  padding-top: 1rem;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

#showcase {
  background: url("../img/mbg.jpg") center center/cover;
  text-align: center;
  position: relative;
}

#showcase .showcase-header {
  padding: 0;
}

#gallery .image-gallery {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-count: 1;
  width: 90%;
}
