@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --text-primary: #a8dadc;
  --text-secondary: #f1faee;
  --text-dark: #457b9d;
  --bg-dark: #457b9d;
  --bg-light: #a9bcd0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roberto", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* Utility Classes */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}
.text-center {
  text-align: center;
}
.l-header {
  font-size: 3.5rem;
}
.m-header {
  font-size: 2.5rem;
}
.mt-1 {
  margin-top: 1.5rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1.5rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.lead {
  font-size: 1.6rem;
  font-weight: 100;
}
.py-1 {
  padding: 1.5rem, 0;
}
.py-2 {
  padding: 2rem, 0;
}
.py-3 {
  padding: 3rem, 0;
}

.text-primary {
  color: var(--text-primary);
}

.btn {
  display: inline-block;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  background: #333;
}

.btn:hover {
  background: #f4f4f4;
  color: #333;
}

/* Navbar styling */
#navbar {
  color: var(--text-secondary);
  background: #333;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: var(--text-primary);
  padding: 0.75rem;
  margin: 0px 0.25rem;
  /* font-size: rem; */
}

#navbar ul li a:hover {
  background: var(--bg-light);
  color: var(--text-dark);
  border-radius: 5px;
}

/* Showcase */

#showcase {
  height: 100vh;
  color: var(--text-secondary);
}

#showcase:before {
  content: "";
  background: url("../img/bg2.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: -1;
  line-height: 0;
  opacity: 0.9;
}

#showcase:after {
  content: "";
  background: #f4f4f4;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

/* Snippets / Gallery */

#gallery {
  display: flex;
  flex-direction: column;
}

#gallery .image-gallery {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  /*grid-template-rows: auto;
  grid-template-areas:
    ". image-1 image-8 image-5"
    ". image-1 image-8 image-5";
  grid-gap: 5px; */
  column-count: 3;
  column-gap: 1rem;
  row-gap: 1rem;
  padding-bottom: 1.5rem;
}

#gallery .image-gallery img {
  width: 100% !important;
  height: auto !important;
}

#about {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
}
